<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @seller.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @seller.email %>
</p>

<p>
  <strong>Password hash:</strong>
  <%= @seller.password_hash %>
</p>

<p>
  <strong>Location:</strong>
  <%= @seller.location %>
</p>

<p>
  <strong>String:</strong>
  <%= @seller.string %>
</p>

<p>
  <strong>Product:</strong>
  <%= @seller.product %>
</p>

<p>
  <strong>Product price:</strong>
  <%= @seller.product_price %>
</p>

<p>
  <strong>We pay access token:</strong>
  <%= @seller.we_pay_access_token %>
</p>

<p>
  <strong>Wepay account:</strong>
  <%= @seller.wepay_account_id %>
</p>

<%= link_to 'Edit', edit_seller_path(@seller) %> |
<%= link_to 'Back', sellers_path %>
